In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('../../datasets/Health_insurance.csv')

In [ ]:
df.shape

(1338, 7)

In [ ]:
df.head(2)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523

In [ ]:
df['sex_enc']= df['sex'].apply(lambda x:1 if x=='female' else 0)
df['smoker_enc'] = df['smoker'].map({'yes':1 ,'no':0})

In [ ]:
df

,age,sex,bmi,children,smoker,region,charges,sex_enc,smoker_enc
0,19,female,27.900,0,yes,southwest,16884.92400,1,1
1,18,male,33.770,1,no,southeast,1725.55230,0,0
2,28,male,33.000,3,no,southeast,4449.46200,0,0
3,33,male,22.705,0,no,northwest,21984.47061,0,0
4,32,male,28.880,0,no,northwest,3866.85520,0,0
...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,0,0
1334,18,female,31.920,0,no,northeast,2205.98080,1,0
1335,18,female,36.850,0,no,southeast,1629.83350,1,0
1336,21,female,25.800,0,no,southwest,2007.94500,1,0
1337,61,female,29.070,0,yes,northwest,29141.36030,1,1

In [ ]:
X = df[['age','bmi','children','sex_enc','smoker_enc']]
y = df['charges']

In [ ]:
from sklearn.linear_model import LinearRegression
model =LinearRegression()
model.fit(X,y)
model.intercept_,model.coef_

(np.float64(-12181.101839234434),
 array([  257.73498767,   322.36421449,   474.41112061,   128.63985357,
        23823.39253065]))

In [ ]:
premium_charges=[[34,25.0,2,0,0],[23,20.0,0,1,0],[28,21.0,1,0,1]]

In [ ]:
model.predict(premium_charges)

C:\Users\VAISHNAVI BIRAJDAR\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([ 5589.8153449 ,   322.72702045, 26102.92997098])

In [ ]:
import pickle

In [ ]:
pickle.dump(model,open('model.pkl','wb'))